.bub-container {
    margin-top: 20px;
}

.bub-container .bub-wrapper .bub-settings h1 {
    font-weight: bold;
    margin-bottom: 40px;
}

.bub-container .bub-wrapper .bub-settings form .input-group label {
    display: block;
    font-weight: bold;
    line-height: 3em;
}

.bub-container .bub-wrapper .bub-settings form .input-group input {
    min-width: 400px;
}

.bub-container .bub-wrapper .bub-settings form .input-group span {
    display: block;
    font-size: 12px;
    line-height: 2em;
}

.notice, div.error, div.updated {
    margin-left: 0;
    position: relative;
}

.submit {
    padding-bottom: 0!important;
    padding-top: 10px;
}


.preloader-container {
    display: none;
}
.preloader {
    position: fixed;
    z-index: 9999999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0000006b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.preloader img {
    filter: brightness(0) invert(1);
}

.preloader span {
    color: white;
    font-size: 30px;
    line-height: 2em;
    font-weight: bold;
}